/* Site-wide styles */
html, body {
    height: 100%;
}

body {
    /* Center content horizontally and vertically */
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Monospace font stack */
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "Courier New", monospace;
}

#dots {
    display: inline-block;
    min-width: 3ch;
    text-align: left;
}
